---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Logo from '../components/Logo.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="h-screen bg-neutral-100 dark:bg-neutral-950 dark:text-neutral-100 flex flex-col justify-center items-center px-8">
		<header class="flex flex-row items-center space-x-3 w-full md:max-w-xl mb-10">
			<Logo />
			<span class="font-bold text-xl">Athen Lab</span>
		</header>
		<main class="flex flex-col w-full md:max-w-xl text-xl space-y-4">
			<p>Athen Lab is an independent machine learning research lab. We believe that AI should be open source and widely available.</p>
			<p>The current research is to build a state-of-the-art AI image detector.</p>
			<hr class="opacity-50" />
			<p class="text-xs opacity-50">Founded by <a class="underline" href="https://kennethnym.com">Kenneth</a>. Find me on <a class="underline" href="https://x.com/kennethnym">x.com</a>.</p>
		</main>
	</body>
</html>
